server:
  port: 8082

spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3309/point-db
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092

client:
  user-service:
    url: http://localhost:8080
  api-gateway-service:
    url: http://localhost:8000

logging:
  level:
    root: INFO
    woobl0g.pointservice: DEBUG