spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${POINT_DB_URL}
    username: ${POINT_DB_USERNAME}
    password: ${POINT_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}