spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${GAME_DB_URL}
    username: ${GAME_DB_USERNAME}
    password: ${GAME_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: INFO
    woobl0g.gameservice: INFO
  file:
    name: logs/game-service.log
    path: logs
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB