spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: INFO
    woobl0g.gameservice: INFO
  file:
    name: logs/game-service.log
    path: logs
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB