spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${BOARD_DB_URL}
    username: ${BOARD_DB_USERNAME}
    password: ${BOARD_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false