spring:
  config:
    activate:
      on-profile: local
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8080
              predicates:
                - Path=/api/auth/**

            - id: board-service-jwt
              uri: http://localhost:8081
              predicates:
                - Path=/api/boards/**
                - Method=POST,PATCH,DELETE
              filters:
                - JwtAuthentication
            - id: board-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/boards/**

            - id: point-service-jwt
              uri: http://localhost:8082
              predicates:
                - Path=/api/points/history
                - Method=GET
              filters:
                - JwtAuthentication
            - id: point-service-admin
              uri: http://localhost:8082
              predicates:
                - Path=/api/admin/points/**
              filters:
                - JwtAuthentication
                - name: RoleAuthorization
                  args:
                    requiredRole: ADMIN
            - id: point-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/points/**

            - id: game-service-admin
              uri: http://localhost:8084
              predicates:
                - Path=/api/admin/bets/**, /api/admin/kbo/**
              filters:
                - JwtAuthentication
                - name: RoleAuthorization
                  args:
                    requiredRole: ADMIN
            - id: game-service-jwt
              uri: http://localhost:8084
              predicates:
                - Path=/api/bets/**, /api/games/*
              filters:
                - JwtAuthentication
            - id: game-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/games/**

            # Swagger Docs 관련 설정
            - id: user-service-docs
              uri: http://localhost:8080
              predicates:
                - Path=/v3/api-docs/user-service
              filters:
                - RewritePath=/v3/api-docs/user-service, /v3/api-docs

            - id: board-service-docs
              uri: http://localhost:8081
              predicates:
                - Path=/v3/api-docs/board-service
              filters:
                - RewritePath=/v3/api-docs/board-service, /v3/api-docs

            - id: point-service-docs
              uri: http://localhost:8082
              predicates:
                - Path=/v3/api-docs/point-service
              filters:
                - RewritePath=/v3/api-docs/point-service, /v3/api-docs

            - id: game-service-docs
              uri: http://localhost:8084
              predicates:
                - Path=/v3/api-docs/game-service
              filters:
                - RewritePath=/v3/api-docs/game-service, /v3/api-docs
jwt:
  secret-key: woo120-secret-1234-1234-1234-1234

logging:
  level:
    root: INFO
    wooBlog.apigatewayservice: DEBUG