spring:
  config:
    activate:
      on-profile: local
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8080
              predicates:
                - Path=/api/auth/**

            - id: board-service-jwt
              uri: http://localhost:8081
              predicates:
                - Path=/api/boards/**
                - Method=POST,PATCH,DELETE
              filters:
                - JwtAuthentication
            - id: board-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/boards/**

            - id: point-service-jwt
              uri: http://localhost:8082
              predicates:
                - Path=/api/points/history
                - Method=GET
              filters:
                - JwtAuthentication
            - id: point-service-admin
              uri: http://localhost:8082
              predicates:
                - Path=/api/admin/points/**
              filters:
                - JwtAuthentication
                - name: RoleAuthorization
                  args:
                    requiredRole: ADMIN
            - id: point-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/points/**

jwt:
  secret-key: woo120-secret-1234-1234-1234-1234

logging:
  level:
    root: INFO
    wooBlog.apigatewayservice: DEBUG