spring:
  config:
    activate:
      on-profile: prod
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/api/auth/**

            - id: board-service-jwt
              uri: ${BOARD_SERVICE_URL}
              predicates:
                - Path=/api/boards/**
                - Method=POST,PATCH,DELETE
              filters:
                - JwtAuthentication

            - id: board-service
              uri: ${BOARD_SERVICE_URL}
              predicates:
                - Path=/api/boards/**
            - id: point-service-jwt
              uri: ${POINT_SERVICE_URL}
              predicates:
                - Path=/api/points/history
                - Method=GET
              filters:
                - JwtAuthentication

            - id: point-service-admin
              uri: ${POINT_SERVICE_URL}
              predicates:
                - Path=/api/admin/points/**
              filters:
                - JwtAuthentication
                - name: RoleAuthorization
                  args:
                    requiredRole: ADMIN

            - id: point-service
              uri: ${POINT_SERVICE_URL}
              predicates:
                - Path=/api/points/**

            # Swagger Docs 관련 설정
            - id: user-service-docs
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/v3/api-docs/user-service
              filters:
                - RewritePath=/v3/api-docs/user-service, /v3/api-docs

            - id: board-service-docs
              uri: ${BOARD_SERVICE_URL}
              predicates:
                - Path=/v3/api-docs/board-service
              filters:
                - RewritePath=/v3/api-docs/board-service, /v3/api-docs

            - id: point-service-docs
              uri: ${POINT_SERVICE_URL}
              predicates:
                - Path=/v3/api-docs/point-service
              filters:
                - RewritePath=/v3/api-docs/point-service, /v3/api-docs

jwt:
  secret-key: ${JWT_SECRET_KEY}

logging:
  level:
    root: INFO
    wooBlog.apigatewayservice: INFO
  file:
    name: logs/api-gateway-service.log
    path: logs
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB